*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    width: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

strong{
    color: white;
}

.row{
    display: flex;
}

.col-nav{
    margin: 0 10px;
    width: calc(100% / 3);
}

.header{
    background-color: rgb(255, 102, 0);
    padding: 15px 0px;
    box-shadow: 0 0 5px 5px #7a7a7a;
}

.menu, .icone{
    display: flex;
    align-items: center;
    height: 100%;
}

.icone{
    justify-content: right;
    padding-right: 300px;
}

.menu{
    padding-left: 300px;
}


.menu, .icone ul{
    list-style-type: none;
}

.menu, .icone ul li{
    display: inline-block;
    color: white;
    font-weight: 700;
}

.logo img{
    width: 140px;
}

.logo{
    text-align: center;
}

.vetrina-cont{
    display: flex;
    
}

.vetrina-row{
    flex-wrap: wrap;
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
}

.prodotto{
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    background-color: blue;

}

.footer{
    background-color: rgb(40, 40, 40);
    padding: 25px 0px;
}

.row-footer{
    display: flex;
}

.col-footer{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.footer-1{
   text-align: left;
}

.footer-2{
    margin-left: 100px;
    text-align: center;
}


.footer-1, .footer-2, ul li{
    display: inline-block;
    color: white;
    font-weight: 700;
}
